.zim_info,
.zim_pdf,
.zim_epub {
  display: none;
}
nav.xs-navbar {
  height: 100px;
  width: 100%;
  background-color: #7db56b;
}
nav.xs-navbar a {
  color: #000000 !important;
  text-decoration: none;
}
nav.xs-navbar a :visited {
  color: #111111;
}
nav.xs-navbar .navbar-right {
  margin-right: 15px;
}
div.xs-body-container {
  margin-top: 100px;
  padding: 25px;
  box-sizing: border-box;
}
div.xs-body-container h3:before {
  content: ' ';
  display: table;
}
.xs-form-container .xs-form-signin > div {
  padding: 5px 0;
}
.xs-form-container .xs-form-signin > div > div {
  float: left;
  width: 85px;
}
.xs-form-container input.xs-form-submit {
  padding: 5px 20px;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: .8;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#loader-wrapper #loader {
  z-index: 1001;
  background-image: url('/media/img/loader.gif');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  top: 50%;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#loader-wrapper .loader-text {
  color: #eeeeee;
  font-size: 36px;
  top: 40%;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
}
.loaded #loader-wrapper {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}
.loaded #loader-wrapper #loader {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.xs-search-container .xs-search-terms .xs-input-pad {
  padding: 10px 0;
}
.xs-search-container .xs-search-terms .xs-input-pad #searchterms {
  margin-right: 20px;
}
.xs-search-container .xs-search-terms .xs-input-pad span {
  font-size: 12px;
}
.xs-search-results {
  padding: 0 40px;
}
.xs-search-results .xs-book-info {
  margin-top: 20px;
  list-style-type: none;
}
.xs-search-results .xs-book-info .xs-book-title {
  display: block;
  font-size: 24px;
  font-color: blue;
}
.xs-search-results .xs-book-info .xs-book-score {
  font-size: 12px;
}
.xs-search-results .xs-book-info .xs-book-exerpts {
  padding: 10px 10px;
  background-color: #eeeeee;
  font-family: "Courier New", Courier, monospace;
}
.xs-search-results .xs-book-info .xs-book-exerpts h1,
.xs-search-results .xs-book-info .xs-book-exerpts h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.xs-search-results .xs-book-info .xs-book-exerpts em {
  font-weight: bold;
}
.xs-search-results .xs-book-info .xs-book-exerpts:before,
.xs-search-results .xs-book-info .xs-book-exerpts:after {
  content: "...";
}
.xs-reader {
  position: fixed;
  right: 0px;
  top: 100px;
  background-color: #eeeeee;
}
.xs-reader .xs-tts-play {
  display: block;
  margin: 0 auto;
  width: 175px;
}
.xs-search-hit {
  font-style: normal;
  font-weight: bold;
  background-color: #a36bb5;
}
