{% extends 'basic/layout.html' %}

{% block body_block %}
<div class='xs-form-error'>{{ error }}</div>
<div class='xs-form-container'>
	<form id='xs-form-signin' class='xs-form-signin' action='/account/login/' method='POST'>
		{% csrf_token %}
		<div class='xs-form-username'>
			<div>username:</div>
			<input type='text' name='username' value='{{ username }}' />
		</div>
		<div class='xs-form-password'>
			<div>password:</div>
        		<input type='password' name='password' />
		</div>
	</form>
	<button type='submit' form='xs-form-signin' value='Login'/>Login</button>
</div>
{% endblock %}
