<div class="xs-reader">
<!--a href="http://wr.readspeaker.com/a/webreader/webreader.php?cid=TYSVY0XL9FQV8U60D0XRD8D0NAULJJI2&amp;t=web_free&amp;title=readspeaker&amp;url=" onclick="readpage(this.href+escape(document.location.href),1); return false;">
<img src="http://wr.readspeaker.com/m/wr/images/listen_en_us.gif" style="border-style: none;"  title="" alt="" /></a>
<div id="WR_1"></div-->

<div class='xs-tts-reader-options'>
	<div class='xs-tts-option'>
		<span>Speed:</span>
		<select class='xs-tts-reader-speed'>
			<option value=0>Slow</option>
			<option selected='' value=1>Normal</option>
			<option value=2>Fast</option>
		</select>
	</div>
	
	<div class='xs-tts-option'>
		<span>Voice:</span>
		<select class='xs-tts-reader-voice'>
			<option value="2_1_9">Alan (Australian)</option>
			<option value="2_1_7">Allison (US)</option>
			<option value="3_1_6">Ashley (US)</option>
			<option value="3_1_4">Bridget (UK)</option>
			<option value="2_1_6">Catherine (UK)</option>
			<option value="2_1_2">Dave (US)</option>
			<option value="2_1_4">Elizabeth (UK)</option>
			<option value="2_1_10">Grace (Australian)</option>
			<option value="3_1_5">Hugh (UK)</option>
			<option value="3_1_7">James (US)</option>
			<option selected="" value="3_1_3">Julie (US)</option>
			<option value="3_1_1">Kate (US)</option>
			<option value="3_1_2">Paul (US)</option>
			<option value="2_1_5">Simon (UK)</option>
			<option value="2_1_8">Steven (US)</option>
			<option value="2_1_1">Susan (US)</option>
			<option value="2_1_11">Veena (Indian)</option>
		</select>
	</div>
</div>
<button class="xs-button xs-tts-play">Read Highlighted Text</button>
<audio class="xs-tts-reader" controls autoplay type="audio/mpeg"></audio>
<div class="xs-tts-avatar-wrapper">
	<img class="xs-tts-avatar" src="/media/img/anim1.png"/>
</div>
</div>
