<div class="xs-reader">
<!--a href="http://wr.readspeaker.com/a/webreader/webreader.php?cid=TYSVY0XL9FQV8U60D0XRD8D0NAULJJI2&amp;t=web_free&amp;title=readspeaker&amp;url=" onclick="readpage(this.href+escape(document.location.href),1); return false;">
<img src="http://wr.readspeaker.com/m/wr/images/listen_en_us.gif" style="border-style: none;"  title="" alt="" /></a>
<div id="WR_1"></div-->
<button class="xs-button xs-tts-play">Read Highlighted Text</button>
<audio class="xs-tts-reader" controls autoplay type="audio/mpeg"></audio>
<div class="xs-tts-avatar-wrapper">
	<img class="xs-tts-avatar" src="/media/img/anim1.png"/>
</div>
</div>
